@charset "ISO-8859-1";
body{
	
	background-size: cover;
	background-position:center;
	
}
.progress{
	margin:30px auto;
} 

.progress img{
	width :5 px;
	margin-bottom:20 px;
}
ul{
	text-align :center;
}
ul li{
	 display: inline-block;
	  width:200 px;
	  position:relative;
	
} 
ul li .fa{
	background: #ccc;
	width: 16px;
	height : #fff;
	bottom-radius : 50 px;
	padding:5px;
	
}
ul li .fa ::after {
	content :'';
	background: #ccc;
	width: 16px;
	height : 5 px;
	width:20 px;
	display:block;
	position :absolute;
	left :0;
	top:110px;
	
}